{% extends 'home/index.html' %}
{% load static %} 

{% block title %}
<title>Acerca de</title>
{% endblock %}

{% block content %}
<style>
    p, span, h1, h2, h3 {
        color: white;
    }
</style>
<h1>MovieClub</h1>
<h2>Proyecto final para Coderhouse - Comision 43765</h2>
<h3> Integrantes : Gaston Pares, Lucas Ivan Lezcano, Laureano Bazalar </h3>
<p>Proyecto pensado para visualizar series y peliculas con sus debidas descripciones y mostrar comentarios de los usuarios, compartiendo sus criticas hacia las mismas. 
Desarrollado en Python, HTML, CSS y Javascript con uso del Framework Django. Ultimos 3 usados principalmente para el desarrollo de las vistas.   
</p>

{% endblock %}