<!DOCTYPE html>
<html lang="zxx">

<head>

    {% load static %}

    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block title %}
    <title>Inicio</title>
    {% endblock %}

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'home/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'home/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'home/css/plyr.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'home/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'home/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'home/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}" type="text/css">
</head>
<body>

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li><a href="{% url 'home:index' %}">Inicio</a></li>

                                <li><a href="{% url 'serie:serie-list' %}">Series</a>

                                <li><a href="{% url 'movie:movie-list' %}">Peliculas</a></li>

                                <li class="active"><a href="./blog.html">Acerca de</a></li>
                                {%block load_avatar_auth%}
                                {% if user.is_authenticated %}
                                {% if not avatar_url %}
                                <li><a class="button_custom" href="{% url 'home:avatar-load' %}">Cargar Avatar</a></li>
                                {% endif %}
                                {% endif %}
                                {% endblock %}
                            </ul>
                        </nav>
                    </div>
                </div>


                    <div class="col-lg-2">
                        <div class="header__right">
                            {% block buscador %}
                            
                            {% endblock %}

                            {% if user.is_authenticated %}
                            {% if avatar_url %}
                            <a class="blog__details__comment__item__pic" href=""><img height="40px" src="{{avatar_url}}"> - {{ user.username }}</a>
                                
                            {% endif %}
                            <a href="{% url 'logout' %}">Cerrar Sesión </a>
                            {% else %}

                            <a href="{% url 'login' %}"><span class="icon_profile"></span></a>
                            {% endif %}

                    </div>
                </div>
        </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

                            <!-- Messages-->
                            {%block messages%}
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert {{ message.tags }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                        <!-- Divider-->
                        <hr class="my-4" />
                    {% endif %}
                </div>
            </div>
        </div>
        {%endblock%}
    {% block content %}

    <!-- Blog Details Section Begin -->
    <section class="blog-details spad">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="blog__details__title">
                        <h2>TITULO DE LA APLICACION</h2>
                        <div class="blog__details__social">
                        </div>
                    </div>
                </div>
    {% endblock %}
    {% block pagination %}
    {% endblock %}
    {% block detail %}
    {% endblock %}
    {% block delete %}
    {% endblock %}
{% block hab_buscador%}


{% endblock %}
<!-- Js Plugins -->
<script src="{% static 'home/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'home/js/bootstrap.min.js' %}"></script>
<script src="{% static 'home/js/player.js' %}"></script>
<script src="{% static 'home/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'home/js/mixitup.min.js' %}"></script>
<script src="{% static 'home/js/jquery.slicknav.js' %}"></script>
<script src="{% static 'home/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'home/js/main.js' %}"></script>


</body>

    </html>