{% extends "serie/serie_list.html" %}
{% load static %} 

{% block web_title %}
Carga de series
{% endblock %}

<!-- ckeditor-->

<!-- ckeditor-->
    <!-- Normal Breadcrumb Begin -->
    <section class="normal-breadcrumb set-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="normal__breadcrumb__text">
                        <h2>Carga de Series</h2>
                        <p>Formulario para cargar una serie</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Normal Breadcrumb End -->
    {% block content %}
    <style>
        label {
            color: white;
        }

        .container{
            align-content: center;
            -ms-flex-align: center;
        }
    </style>
        <div class="container">
                <form action="" method="POST" class="form-lbl">
                    {% csrf_token %}
                    {{ form.media }} <!-- ckeditor-->
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-primary" value="Guardar Serie" />
                </form>
        </div>


    <!-- Divider-->
{% endblock %}

    <!-- Login Section Begin 
    <section class="login spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login__form">
                        <h3>Login</h3>
                        <form action="#">
                            <div class="input__item">
                                <input type="text" placeholder="Email address">
                                <span class="icon_mail"></span>
                            </div>
                            <div class="input__item">
                                <input type="text" placeholder="Password">
                                <span class="icon_lock"></span>
                            </div>
                            <button type="submit" class="site-btn">Login Now</button>
                        </form>
                        <a href="#" class="forget_pass">Forgot Your Password?</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="login__register">
                        <h3>Dont’t Have An Account?</h3>
                        <a href="#" class="primary-btn">Register Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
-->