{% extends "home/index.html" %}
{% load static %} 

{% block title %}
<title>Cargar Serie</title>
{% endblock %}

{% block extrahead %}
<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
{{ block.super }}

{% endblock %}
    <section class="normal-breadcrumb set-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="normal__breadcrumb__text">
                        <h2>Carga de Series</h2>
                        <p>Formulario para cargar una serie</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Normal Breadcrumb End -->
    {% block content %}
    <style>
        label {
            color: white;
        }

        .container{
            align-content: center;
            -ms-flex-align: center;
        }
    </style>
        <div class="container">
                <form action="" method="POST" class="form-lbl" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.media }} <!-- ckeditor-->
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-primary" value="Guardar Serie" />
                </form>
        </div>


    <!-- Divider-->
{% endblock %}
