{% extends "home/index.html" %}
{% load static %} 

{% block title %}
<title>Editar Usuario</title>
{% endblock %}


{% block content %}
<style>
    label {
        color: white;
    }

    .container{
        align-content: center;
        -ms-flex-align: center;
    }
</style>
<!-- Login Section Begin -->
<section class="login spad">
    <div class="container">
        <div class="row">
            <style>
                ul {
                    color: white;
                }
            </style>
            <div class="col-lg-6">
                <div class="login__form">
                    <h3>Cambiar contraseña</h3>                   
                        <form action="" class="input__item" method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" class="site-btn" value="Guardar  Usuario" />
                    </form>
                </div>
            </div>

{% endblock %}