{% extends "home/index.html" %}
{% load static %} 

{% block title %}
<title>Ingreso</title>
{% endblock %}


<!-- Normal Breadcrumb End -->
{% block content %}
<style>
    label {
        color: white;
    }

    .container{
        align-content: center;
        -ms-flex-align: center;
    }
</style>
<!-- Login Section Begin -->
<section class="login spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login__form">
                    <h3>Login</h3>
                    <form action="#">
                        <form action="" class="input__item" method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" class="site-btn" value="Iniciar Sesión" />
                        </form>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login__register">
                    <h3>No tienes cuenta?</h3>
                    <a href="{% url 'home:user-register' %}" class="primary-btn">Registrate Ahora!</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}