{% extends "home/index.html" %}
{% load static %} 

{% block title %}
<title>Peliculas</title>
{% endblock %}


{% block buscador %}
<a href="#" class="search-switch"><span class="icon_search"></span></a>
{% endblock %}


{% block content %}
                    
    <!-- Page Preloder -->

                    <!-- ACA SE MUESTRAN LAS SERIES Y PELICULAS-->
   
<!--Listado de movies-->
                    <div class="recent__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>PELICULAS</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="{% url 'movie:movie-add' %}" class="primary-btn">Agregar pelicula<span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <!-- Messages-->
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert {{ message.tags }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                        <!-- Divider-->
                        <hr class="my-4" />
                    {% endif %}
                </div>
            </div>
        </div>
                            <!--DIVISION POR SERIE /PELICULA-->
                            {% if movie_list %}
                            {% for movie in movie_list %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="">
                                         <!-- Image -->
                                            {% if movie.image %}
                                                 <div style="text-align: center;">
                                                    <img height="250px" src="{{ movie.image.url }}">
                                                </div>
                                            {% endif %}

                                        <div class="ep">{{movie.duration}} minutos</div>
                                        <div class="comment"><i class="fa fa-comments"></i> Comentarios</div>
                                        <div class="view"><i class="fa fa-eye"></i> Rating: {{movie.rating}}</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            
                                            <li>Movie</li>
                                            
                                        </ul>
                                        <h5><a href="#">{{movie.name}}</a></h5>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            
                            {% endif %}

{% endblock %}

{% block hab_buscador%}
          <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form class="search-model-form" action="{% url 'movie:search' %}" method="GET">
                <input type="text" name="search_param" id="movie_or_name" placeholder="Buscar.."
                {% if search_param %} value="{{ search_param }}" {% endif %}
                >
            </form>
        </div>
    </div>
        <!-- Search model end -->
{% endblock %}

