{% extends "movie/movie_list.html" %}
{% load static %} 

{% block web_title %}
Carga de Peliculas
{% endblock %}

<!-- ckeditor-->
{% block extrahead %}
<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
{{ block.super }}
{% endblock %}
    <!-- Normal Breadcrumb End -->
    {% block content %}
    <style>
        label {
            color: white;
        }
    </style>
    <div class="container">
        
                <form action="" method="POST" class="form-lbl" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.media }} <!-- ckeditor-->
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-primary" value="Guardar Pelicula" />
                </form>

    </div>    
    <!-- Divider-->
    {% endblock %}
